$base-color: #f0f0f5;

$body-font: 400 14px 'Roboto', sans-serif;

$peripheral-font: 400 18px 'Roboto', sans-serif;

$input-border:  1px solid #dcdce6;
$input-color: #333;

$button-base: #e02041;
$button-color: #fff;

$link-color: #41414d;
